*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI;}

body{background:#f8fafc;color:#0f172a}

/* Navbar */
.navbar{
    background:#020617;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar h1{color:white}
.navbar span{color:#14b8a6}
.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}
.navbar a:hover{color:#14b8a6}

/* Hero */
.hero{
    height:70vh;
    background:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") center/cover;
    display:flex;
    align-items:center;
    justify-content:center;
}
.hero-content{
    background:rgba(0,0,0,0.6);
    padding:60px;
    text-align:center;
    color:white;
    border-radius:15px;
}
.btn{
    background:#14b8a6;
    padding:12px 25px;
    color:white;
    text-decoration:none;
    display:inline-block;
    margin-top:15px;
    border-radius:30px;
}

/* Cards */
.features{
    display:flex;
    gap:20px;
    padding:80px;
}
.card{
    flex:1;
    background:white;
    padding:30px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* Pages */
.page{
    padding:80px;
}

/* Team */
.team{
    display:flex;
    gap:40px;
    margin-top:40px;
}
.member{
    flex:1;
    text-align:center;
}
.member img{
    width:100%;
    border-radius:15px;
}

/* Services */
.services{
    display:flex;
    gap:30px;
    margin:40px 0;
}
.service{
    flex:1;
    background:white;
    padding:40px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
}
td,th{
    border:1px solid #ccc;
    padding:15px;
    text-align:center;
}

/* Contact */
.contact-form{
    max-width:400px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}
.contact-form input,
.contact-form textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
}
.contact-form button{
    width:100%;
    background:#14b8a6;
    border:none;
    padding:12px;
    color:white;
}

/* Footer */
footer{
    background:#020617;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:60px;
}
